@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body{
    background-color: #000;  
    }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }

.center{
    text-align: center;
    }

h2{
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    font-color: #FFF;
    }
